{% extends "index.html" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto">

                <!-- form card login -->
                <div class="card rounded-0">

                    <div class="card-header">
                        <h3 class="mb-0">{{ form_name }}</h3>
                    </div>
                    <div class="card-body">

                        <form class="form" action="/{{ action }}" method=post>
                            {{ form.hidden_tag() }}

                            <div class="form-group">
                                {{ form.payment_amount_first.label }}
                                {{ form.payment_amount_first(class_="form-control") }}

                                {% if form.payment_amount_first.errors %}
                                    <div class="alert alert-danger" role="alert">
                                        {% for message in form.payment_amount_first.errors %}
                                            <div>{{ message }}</div>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>

                            <div class="form-group">
                                {{ form.currency_first.label }}
                                {{ form.currency_first(class_="form-control") }}

                                {% if form.currency_first.errors %}
                                    <div class="alert alert-danger" role="alert">
                                        {% for message in form.currency_first.errors %}
                                            <div>{{ message }}</div>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>

                            <div class="form-group">
                                {{ form.payment_amount_second.label }}
                                {{ form.payment_amount_second(class_="form-control") }}

                                {% if form.payment_amount_second.errors %}
                                    <div class="alert alert-danger" role="alert">
                                        {% for message in form.payment_amount_second.errors %}
                                            <div>{{ message }}</div>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>

                            <div class="form-group">
                                {{ form.currency_second.label }}
                                {{ form.currency_second(class_="form-control") }}

                                {% if form.currency_second.errors %}
                                    <div class="alert alert-danger" role="alert">
                                        {% for message in form.currency_second.errors %}
                                            <div>{{ message }}</div>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>

                            <div class="form-group">
                                {{ form.product_description.label }}
                                {{ form.product_description(class_="form-control") }}

                                {% if form.product_description.errors %}
                                    <div class="alert alert-danger" role="alert">
                                        {% for message in form.product_description.errors %}
                                            <div>{{ message }}</div>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>

                            {{ form.submit(class_="btn btn-success") }}

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
